<nav class="navbar navbar-expand-lg bg-body-tertiary flex-grow-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin">Rush Shopping</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="category" class="nav-link" aria-current="page" href="/admin/category/list">Manage Category</a>
          </li>
          <li class="nav-item">
            <a id="product" class="nav-link" href="/admin/product/list">Manage Product</a>
          </li>
          <li class="nav-item">
            <a id="account" class="nav-link" href="/admin/account/list">Manage Account</a>
          </li>
          <li class="nav-item">
            <a id="chat" class="nav-link" href="/admin/chat">Chat</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/logout">
                  <i class="fas fa-sign-out-alt"></i> Logout
              </a>
          </li>
      </ul>
      </div>
    </div>
    <script>
        switch (window.location.pathname) {
            case "/admin/category/list": {
                $("#category").addClass("active");
                break;
            }
            case "/admin/product/list": {
                $("#product").addClass("active");
                break;
            }
            case "/admin/account/list": {
                $("#account").addClass("active");
                break;
            }
            case "/admin/chat": {
                $("#chat").addClass("active");
                break;
            }
        }
    </script>
  </nav>
