<style>

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #12385e, #003d66);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 500px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    position: relative;
    overflow: hidden;
}

h1 {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    color: #009CDE;
}

.order-details {
    max-height: 500px;
    overflow-y: auto;
    margin-top: 20px;
    padding-right: 15px; /* Add right padding to accommodate scroll bar */
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

.product-name {
    color: #555;
    font-weight: bold;
}
.total-amount .label {
    font-size: 1.3em;
    color: #009CDE;
    font-weight: bold;
}
.total-amount {
    margin-top: 15px;
    color: #555;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.cancel-btn {
    background-color: #e0e0e0;
    color: #333;
    margin-right: 10px;
}
.cancel-btn:hover {
    background-color: #f0f0f0;
}
.confirm-btn {
    background-color: #0070ba;
    color: white;
}
.confirm-btn:hover {
    background-color: #009CDE;
}

/* Custom Scroll Bar Styling */
.order-details::-webkit-scrollbar {
    width: 8px;
}

.order-details::-webkit-scrollbar-thumb {
    background-color: #0070ba;
    border-radius: 4px;
}

.order-details::-webkit-scrollbar-thumb:hover {
    background-color: #005d9e;
}

.order-details::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

</style>
<div class="container">
    <h1>Confirm Order</h1>
    <div class="order-details">
        <% for (var product of order.products) {  %>
        <div class="item">
            <span class="product-name fs-4"><%=product.name %></span>
            <span class="count text-primary">x <%= product.count %></span>
        </div>
        <% } %>
    </div>
    <div class="total-amount"><span class="label">Total:</span>&nbsp;123123</div>
    <div class="buttons">
        <a href="/payment/cancel-order" class="button cancel-btn">Cancel</a>
        <a href="/payment/confirm-order" class="button confirm-btn">Confirm Order</a>
    </div>
</div>
