<%- include("partials/header") %>

<style>
body {
  background: linear-gradient(135deg, #12385e, #003d66);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  width: 400px;
  background-color: #292f3e;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.register-form {
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
}

label {
  color: #ddd;
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 8px;
  transition: all 0.3s ease;
  pointer-events: none;
}
.label-input-group-has-value {
  top: -12px;
  font-size: 12px;
  color: #4b9ce2;
}
.input-group input:focus + label,
.input-group input:valid + label {
  top: -12px;
  font-size: 12px;
  color: #4b9ce2;
}

a {
  color: #4b9ce2;
  text-decoration: none;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

button[type="submit"] {
  background-color: #4b9ce2;
  color: #fff;
  margin-bottom: 10px;
}


button:hover,
a:hover {
  opacity: 0.8;
}
</style>

<div class="container">
    <form action="/auth/verify-register" method="POST" class="register-form" onsubmit="on_submit_register(event)">
        <h1>Register</h1>
        <div class="input-group">
            <input type="text" name="code" class="w-100" id="code" placeholder="" required>
            <label id="code-label" for="code">Code</label>
        </div>
        <button type="submit">Confirm</button>
    </form>
</div>
<script>
    function update_label(name, label) {
        const input = document.getElementById(name);
        const input_label = document.getElementById(label);
        if (input.value.trim() !== "") {
            input_label.classList.add("label-input-group-has-value");
        } else {
            input_label.classList.remove("label-input-group-has-value");
        }
    }
    $("code").on("change", (event) => { update_label("code", "code-label"); });
</script>
<% if (error) {%>
<script>
    toastr.error('<%= error %>');
</script>
<% } %>

<%- include("partials/footer") %>

