<html>
    <head>
        <style>
            body {
                font-family: 'Arial', sans-serif;
                background-color: #f4f4f4;
                color: #333;
                margin: 0;
                padding: 0;
            }
            .container {
                max-width: 600px;
                margin: 20px auto;
                padding: 20px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
            h1 {
                color: #007BFF;
            }
            p {
                margin-bottom: 15px;
            }
            .code {
                font-size: 1.2em;
                font-weight: bold;
                color: #007BFF;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Xin chào từ HCMUS!</h1>
            <p>Bạn vui lòng xác thực email của mình để hoàn tất đăng ký tài khoản.</p>
            <p><strong>Mã xác thực: </strong><span class="code"><%-code%></span></p>
            <p>Trân trọng,</p>
            <p>Đội ngũ hỗ trợ của chúng tôi tại HCMUS</p>
        </div>
    </body>
</html>

